.date-container {
  display: flex;
  justify-content: space-around;
  flex: 1;

  margin-top: 5px;
}

.time-button {
  background: transparent;
  border: transparent;
  font-size: 13pt;
  font-family: 'NanumSquare';
  color: #bababa;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #fa9a44;
  }
}

.focused-time {
  color: #fa9a44;
  font-weight: bold;
}

.meal-container {
  display: flex;
  justify-content: space-around;
  flex: 1;

  margin-bottom: 5px;
}

.meal-button {
  display: inline-flex;
  align-items: center;

  width: 93px;

  padding: 0px 7px;
}

.breakfast-icon {
  font-size: 35pt;
  margin-bottom: 3px;
}

.lunch-icon {
  font-size: 25pt;
  margin-right: 5px;
}

.dinner-icon {
  font-size: 22pt;
  margin-right: 2px;
}

@media (max-width: 768px) {
  .time-button {
    font-size: 12pt;
  }
}