.react-calendar {
  padding: 0 24px;
  background-color: var(--SemanticColor-Background-Secondary);

  @media (max-width: 768px) {
    padding: 4px 25px 15px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.react-calendar button:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: space-evenly;
    gap: 24px;
  }
}
.react-calendar__navigation__label {
  background: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #ff9522;
  font-family: NanumSquare, sans-serif;
  white-space: nowrap;
  display: none;

  &::hover {
    cursor: default;
  }

  @media (max-width: 768px) {
    color: #fe8c59;
    cursor: pointer;
    top: 4px;
  }
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 10px;

  @media (max-width: 768px) {
    height: 16px !important;
  }
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view {
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}
.react-calendar__month-view__weekdays {
  text-align: center;
  margin-bottom: 14px;
}
.react-calendar__month-view__weekdays__weekday {
  color: var(--Color-Foundation-base-black);
  font-size: 13px;
  font-weight: 700;
  line-height: 140%; /* 18.2px */

  @media (max-width: 768px) {
    line-height: 15px;
  }
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day {
  color: var(--Color-Foundation-gray-700);
  text-align: center;
  font-size: 14px;
  font-weight: var(--Font-weight-bold, 700);
  line-height: 150%; /* 21px */

  @media (max-width: 768px) {
    line-height: 16px;
    font-weight: 400;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--Color-Foundation-gray-400, #cbcdd3) !important;
}

.react-calendar__tile {
  text-align: center;
  background: none;
  height: 32px;

  &.today {
    color: var(--Color-Foundation-gray-700);
    font-size: var(--Font-size-14, 14px);
    font-weight: var(--Font-weight-extrabold, 800);
    line-height: 150%; /* 21px */
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--Color-Foundation-gray-500);
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    @media (max-width: 768px) {
      font-weight: 700;
    }
  }
}
.react-calendar__tile--active {
  color: var(--Color-Foundation-base-white, #fff);
  line-height: 150%; /* 21px */
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    background-color: var(--Color-Foundation-orange-500);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
  }

  &.today {
    color: var(--Color-Foundation-base-white, #fff);
    &::before {
      background-color: var(--Color-Foundation-orange-500);
    }
  }
}
