.react-calendar {
  padding: 0 24px;

  @media (max-width: 768px) {
    padding: 32px 48px 31px 48px;
  }
}
@media (max-width: 768px) {
  .react-calendar {
    padding: 4px 25px 15px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
  }
}
.react-calendar .today {
  font-weight: 400;
  background-image: url("/img/circle.svg");
}
@media (max-width: 768px) {
  .react-calendar .today {
    font-weight: 700;
  }
}
.react-calendar button {
  margin: 0;
  padding: 0;
  border: 0;
  height: 45px;
  width: 32px;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .react-calendar button {
    height: 31px;
  }
}
.react-calendar button:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .react-calendar__navigation {
    justify-content: space-evenly;
  }
}
.react-calendar__navigation__label {
  background: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #ff9522;
  font-family: NanumSquare, sans-serif;
  white-space: nowrap;
  display: none;
}

.react-calendar__navigation__label:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .react-calendar__navigation__label {
    color: #fe8c59;
    cursor: pointer;
    top: 4px;
  }
}

.react-calendar__navigation__prev-button {
  background: white;
}
@media (max-width: 768px) {
  .react-calendar__navigation__prev-button {
    height: 16px !important;
  }
}
.react-calendar__navigation__next-button {
  background: white;
}
@media (max-width: 768px) {
  .react-calendar__navigation__next-button {
    height: 16px !important;
  }
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__month-view {
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}
.react-calendar__month-view__weekdays {
  text-align: center;
}
.react-calendar__month-view__weekdays__weekday {
  color: var(--Color-Foundation-gray-600, #989aa0);
  font-size: 13px;
  font-weight: 700;
  line-height: 140%; /* 18.2px */
}
@media (max-width: 768px) {
  .react-calendar__month-view__weekdays__weekday {
    font-size: 13px;
    line-height: 15px;
    color: #333333;
  }
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day {
  color: var(--Color-Foundation-gray-900, #262728);
  text-align: center;
  font-size: 14px;
  font-weight: var(--Font-weight-bold, 700);
  line-height: 150%; /* 21px */

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #666666;
  }
}
.react-calendar__tile {
  text-align: center;
  background: none;
}
.react-calendar__tile--active {
  color: white !important;
  background-image: url("/img/circle-active.svg") !important;
}
